<div class="jumbotron">
	<h1>Create a New Challenge</h1>
</div>

<div class="separator"></div>

<div class="container container-invite">
	<%= form_tag challenge_create_path do %>
    	<%= radio_button_tag(:category, "addition") %>
    	<%= label_tag "Addition" %><br />
		<%= number_field_tag :length, nil, placeholder: "Length" %><br />
		<%= number_field_tag :issuer_id, nil, placeholder: "Issuer" %><br />
		<%= number_field_tag :receiver_id, nil, placeholder: "Receiver" %><br />
	    <%= submit_tag "Create" %>
	<% end %>
</div>
