<div class="jumbotron">
    <h1>Outcome</h1>
</div>

<div class="separator"></div>

<div class="container container-outcome">

    <% if @challenge.accepted %>
        <div class="panel">
            <div class="panel-heading">
                <h2>Final Score</h2>
            </div>
            <div class="panel-body">
                <p>Your Score: <%= @challenge.receiver_score %></p>
                <p><%= User.find(@challenge.issuer_id).username %>'s Score: <%= @challenge.issuer_score %></p>
                <p>Return to <%= link_to "Headquarters", root_path %></p>
            </div>
        </div>
    <% else %>
        <div class="panel">
            <div class="panel-heading">
                <h2>Challenge Complete</h2>
            </div>
            <div class="panel-body">
                <p><strong>Your Score:</strong> <%= @challenge.issuer_score %></p>
                <p>Currently waiting for <%= User.find(@challenge.receiver_id).username %> to accept the challenge.</p>
                <p>Return to <%= link_to "Headquarters", root_path %></p>
            </div>
        </div>
    <% end %>
</div>
