<div class="container">
    <h1>All Users</h1>
    <ul>
        <% @all_users.each do |user|%>
            <% if user.id != current_user.id %>
                <li><%=link_to user.name, show_user_path(id: user.id) %></li>
                <li><%= user.email %></li>
                <li><%= user.username %></li>
                <% if current_user.friends.include? user.id %>
                    <%= link_to "Unfriend", unfriend_path(id: user.id) %>
                <% else %>
                    <%= link_to "Friend", friend_invite_path(id: user.id) %>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
