<div class="jumbotron">
    <h1>
        Welcome to Headquarters
        <br>
        <%= current_user.name %>!
    </h1>
</div>

<div class="separator"></div>

<div class="container container-main">
    <div class="row">
        <div class="col-md-2">
            <h2><%= current_user.name %></h2>
        </div>
        <div class="col-md-7">
            <h2 id="feed">What People are Saying</h2>

            <div class="row">
                <div class="col-md-6">
                    <h3>Pending Challenge Requests</h3>
                    <ul>
                        <% current_user.pending_challenge_requests.each do |challenge| %>
                        <li>
                            <%= User.find(Challenge.find(challenge).issuer_id).name %>
                            <%= link_to "Accept", challenge_accept_path(id: challenge) %>
                            <%= link_to "Decline", challenge_decline_path(id: challenge) %>
                        </li>
                        <% end %>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>Pending Challenge Invitations</h3>
                    <ul>
                        <% current_user.pending_challenge_invitations.each do |invitation| %>
                        <li>
                            The challenge sent to <%= User.find(Challenge.find(invitation).receiver_id).name %> is currently pending.
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="main_right">
            <h2>Pending Friend Requests</h2>
            <ul>
                <% current_user.pending_friend_requests.each do |request| %>
                    <li>
                        <%= User.find(request).name %>
                        <%= link_to "Accept", friend_accept_path(id: request) %>
                        <%= link_to "Decline", friend_decline_path(id: request) %>
                    </li>
                    <br>
                <% end %>
            </ul>

            <h2>Friends List</h2>

            <ul>
                <% current_user.friends.each do |friend| %>
                    <li><%= User.find(friend).name %></li>
                    <br>
                <% end %>
            </ul>
        </div>
    </div>
</div>
