<div class="jumbotron">
    <h1>
        <span style="color: var(--color-3)">Welcome to Headquarters</span>
        <br>
        <%= current_user.name %>
    </h1>
</div>

<div class="separator"></div>

<div class="container container-main">
    <div class="row row-main">
        <div class="col-lg-2" id="main_left">
            <%= user_avatar_helper(current_user, 219, "img-rounded") %>
            <h2><%= current_user.name %></h2>
            <p>
                <b>Wins:</b> <%= current_user.challenge_wins %>
                <b>Ties:</b> <%= current_user.challenge_ties %>
                <b>Losses:</b> <%= current_user.challenge_losses %>
            </p>
            <p><b>Username:</b> <%= current_user.username %></p>
            <p><b>Location:</b> <%= current_user.location %></p>
            <p><b>Bio:</b> <%= current_user.bio %></p>
        </div>

        <div class="col-lg-7">
            <h2>Share Something With Your Friends</h2>
            <div class="form-group">
                <%= form_for @post do |f| %>
                	<%= f.text_area :post_entry, placeholder: "Share it here...", class: "form-control" %>
                	<%= f.hidden_field :author, value: current_user.username %>
                	<%= f.hidden_field :user_id, value: current_user.id %>
                	<%= f.submit "Share It!", class: "btn btn-primary", style: "float: right; margin-top: 8px; margin-bottom: 8px;" %>
                <% end %>
            </div>

            <h2 id="feed">What Your Friends are Saying</h2>
            <% @paginate_friend_posts.each do |post| %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="display: flex; justify-content: space-between;">
                            <p><b><%= link_to post.user.username, show_user_path(id: post.user.id) %></b></p>
                            <p>
                                <b>
                                    <%= "Posted " + time_ago_in_words(post.created_at) + " ago" if Time.now - post.created_at < 86400 %>
                                    <%= post.created_at.strftime('%b %e') if Time.now - post.created_at >= 86400 %>
                                </b>
                            </p>
                        </div>
                        <p><%= post.post_entry.html_safe %></p>
                    </div>
                </div>
            <% end %>
            <%= link_to_prev_page @paginate_friend_posts, 'Previous Page', id: "page_navigation" %>
            <%= link_to_next_page @paginate_friend_posts, 'Next Page', id: "page_navigation" %>
        </div>

        <div class="col-lg-3" id="main_right">
            <% if !current_user.pending_friend_requests.empty? %>
                <h2>Pending Friend Requests</h2>
                    <div class="friend_requests">
                        <% current_user.pending_friend_requests.each do |request| %>
                            <div class="well">
                                <%= User.find(request).name %>
                                <%= link_to "Accept", friend_accept_path(id: request) %>
                                <%= link_to "Decline", friend_decline_path(id: request) %>
                            </div>
                        <% end %>
                    </div>
            <% end %>
            <h2>Friends List</h2>
            <div class="friends_list">
                <% current_user.friends.each do |friend| %>
                    <div class="well">
                        <%= user_avatar_helper(User.find(friend), 50, "img-rounded", "margin-right: 5px;") %>
                        <%= User.find(friend).name %>
                        <%= link_to "Challenge", challenge_invite_path(receiver_id: friend) %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
