<div class="jumbotron">
    <h1>
        Welcome to Headquarters
        <br>
        <%= current_user.name %>!
    </h1>
</div>

<div class="separator"></div>

<div class="container container-main">
    <div class="row row-main">
        <div class="col-md-2">
            <%= image_tag current_user.avatar.url, size: 195, class: "img-rounded" %>
            <h2><%= current_user.name %></h2>
            <p>Username: <%= current_user.username %></p>
            <p>Location: <%= current_user.location %></p>
            <p>Bio: <%= current_user.bio %></p>
        </div>
        <div class="col-md-7">
            <h2 id="feed">What Your Friends are Saying</h2>
        </div>
        <div class="col-md-3" id="main_right">
            <h2>Pending Friend Requests</h2>
            <ul>
                <% current_user.pending_friend_requests.each do |request| %>
                    <li>
                        <%= User.find(request).name %>
                        <%= link_to "Accept", friend_accept_path(id: request) %>
                        <%= link_to "Decline", friend_decline_path(id: request) %>
                    </li>
                    <br>
                <% end %>
            </ul>

            <h2>Friends List</h2>

            <ul>
                <% current_user.friends.each do |friend| %>
                    <li><%= User.find(friend).name %></li>
                    <br>
                <% end %>
            </ul>
        </div>
    </div>
</div>
