<div class="jumbotron">
    <h1>Requests and Invitations</h1>
</div>

<div class="separator"></div>

<div class="container container-requests-and-invitations">
    <div class="row" id="requests_and_invitations">
        <div class="col-md-12">
            <div class="col-md-3" id="requests_and_invitations">
                <h2 style="text-align: center;">Pending Challenge Requests</h2>
                <% current_user.pending_challenge_requests.each do |challenge| %>
                    <div class="well">
                        <%= User.find(Challenge.find(challenge).issuer_id).name %>
                        <%= link_to "Accept", challenge_accept_path(id: challenge), class: "btn btn-success" %>
                        <%= link_to "Decline", challenge_decline_path(id: challenge), class: "btn btn-danger" %>
                    </div>
                <% end %>
            </div>

            <div class="col-md-3" id="requests_and_invitations">
                <h2 style="text-align: center;">Pending Challenge Invitations</h2>
                <% current_user.pending_challenge_invitations.each do |invitation| %>
                    <div class="well">
                        The challenge sent to <%= User.find(Challenge.find(invitation).receiver_id).name %> is currently pending.
                    </div>
                <% end %>
            </div>


            <div class="col-md-3" id="requests_and_invitations">
                <h2 style="text-align: center;">Pending Friend Requests</h2>

                 <% current_user.pending_friend_requests.each do |request| %>
                         <div class="well" id="requests">
                             <p>Request from <strong><%= link_to User.find(request).name, show_user_path(id: request) %></strong></p>
                             <%= link_to "Accept", friend_accept_path(id: request), class: "btn btn-success" %>
                             <%= link_to "Decline", friend_decline_path(id: request), class: "btn btn-danger" %>
                         </div>
                 <% end %>
            </div>

            <div class="col-md-3" id="requests_and_invitations">
                <h2 style="text-align: center;">Pending Friend Invites</h2>

                <% current_user.pending_friend_invitations.each do |invitation| %>
                        <div class="well" id="invitations">
                            <p>Invitation to <strong><%= link_to User.find(invitation).name, show_user_path(id: invitation) %></strong></p>
                            <p>Response Currently Pending</p>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
